.mycourses-container {
    max-width: 1200px;
    margin: auto;
    padding: 40px 20px 60px 20px;
    color: var(--full-light);
  }
  
  /* Header */
  
  .mycourses-header {
    margin-bottom: 30px;
  }
  
  .mycourses-header h2 {
    font-family: var(--heading-font);
    font-size: 32px;
    margin-bottom: 6px;
  }
  
  .mycourses-header p {
    color: var(--less-light);
    font-size: 15px;
  }
  
  /* Grid Layout */
  
  .courses-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }

  @media (max-width: 600px) {
    .courses-grid {
      grid-template-columns: 1fr;
      gap: 14px;
    }
  }
  
  /* Loading */
  
  .mycourses-loading {
    height: 60vh;
   margin: auto;
  }
  
 
  /* Error */
  
  .error-box {
    background: #3a1f1f;
    border: 1px solid #ff4d4d;
    padding: 15px;
    border-radius: 6px;
    color: #ffb3b3;
    margin-top: 40px;
  }
  
  .dashboard-link{
    margin-top: 36px;
  }
  /* Empty State */
  
  .empty-state {
    background: var(--less-dark);
    padding: 50px;
    text-align: center;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .empty-state h4 {
    font-family: var(--heading-font);
    margin-bottom: 10px;
  }
  
  .empty-state p {
    color: var(--less-light);
  }