.review-heading{
margin: 1rem auto;
border-bottom: 1px solid white;
border-top: 1px solid white;
}
.review-empty {
    color: white;
    font-size: 1.5rem;
    margin: 16px auto;
}

.review-rating {
    display: block;
    height: 16px;
    font-size: 16px;
    margin-bottom: 12px;
}

.tick-btn {
    padding: 3px 7px;
    background-color: rgb(17, 192, 17);
    border-radius: 5px;
    margin: auto 5px;
}

.tick-btn:hover {
    background-color: rgb(7, 143, 7);
    scale: 1.10;
}

.cross-btn {
    padding: 3px 7px;
    background-color: rgb(192, 52, 17);
    border-radius: 5px;
    margin-left: 5px;
    margin-top: 16px;
    position: relative;
    left: 0;
}

.cross-btn:hover {
    background-color: rgb(143, 27, 7);
    scale: 1.10;
}