*, *:before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --heading-font: "Space Grotesk", sans-serif;
    --body-font: "Inter", sans-serif;
    --full-dark: #181C14;
    --less-dark: #3C3D37;
    --less-light: #abb9a6;
    --full-light: #fff;
  }

:root {
    --heading-font: "Space Grotesk", sans-serif;
    --body-font: "Inter", sans-serif;
    --full-dark: #181C14;
    --less-dark: #3C3D37;
    --less-light: #abb9a6;
    --full-light: #fff;
}
  
  body {
    font-family: var(--body-font);
  }
  
  h1, h2, h3 {
    font-family: var(--heading-font);
  }